@page
@model Tidslinje
@{}
<!DOCTYPE html>

        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>

@* Her laver vi tabellen *@
        <title>Tidslinje</title>
    </head>

    <body>
       <table style="margin-left:12px"; width="75%">
           <tr style="background-color:azure ;">
               <th>Id</th>
               <th>Name</th>
               <th>Place</th>
               <th>Date</th>
           </tr>
       </table>
    </body>


</html>