@page
@model RazorPageEventMaker_Gasolin.Pages.BioInterview.IndexModel

@{
    ViewData["Title"] = "Biografi og interview";
}

<h1>Biografi og interview</h1>

<p>
    Gasoline band members.
</p>
<body>
    <p>
        Biografi: Kim Larsen 
    </p>
    
</body>
