@page
@model RazorPageEventMaker_Gasolin.Pages.BioInterview.IndexModel

@{
    ViewData["Title"] = "Biografi og interview";
}

<style>
    h4 {
        margin-bottom: 30px; /* Space below */
        margin-top: 30px; /* Space above */
    }

    h1 {
        margin-bottom: 100px; /* Space below */
        margin-top: 50px; /* Space above */
    }
</style>

<h1 class="text-center"> Biografi og interview </h1>


<div>

    <img src="BioInterview/Photos/Kim Larsen.jpg" class="rounded" alt="Kim Larsen" ; style="max-height:183px;max-width:180px;">

    <h4> Biografi: Kim Larsen </h4>
    <a href="https://youtu.be/bYxaXqWarHE?si=nNKKHfYh0oc8HReF" target="_blank">  Link til interview </a>

    <p> Baggrundsinformation: </p>

    <ul style="margin-bottom: 40px;">
            <li> Fødenavn: Kim Mellius Flyvholm Larsen</li>
            <li> Født: 23. oktober 1945, København, Danmark</li>
            <li> Død: 30. september 2018 (72 år), Odense, Danmark</li>
            <li> Genrer: Rock, pop</li>
            <li> Beskæftigelse: Sanger/sangskriver</li>
            <li> Instrumenter: Vokal/guitar</li>
            <li> Aktiv: 1968-2018</li>
        </ul>
    <p> Kim Mellius Flyvholm Larsen var en dansk sanger, sangskriver, forfatter og guitarist. Han begyndte sin musikkarriere i 1968 efter en kort periode som folkeskolelærer og blev kendt fra 1969 som medlem af rockgruppen Gasolin. Under sin tid med Gasolin (som varede indtil 1978) udgav Larsen også soloalbum og plader med sit fritidsband, som optrådte under flere forskellige navne. Efter Gasolins opløsning fortsatte Larsen som soloartist og bandleder. </p>

    <p style="margin-bottom: 150px;"> (Kilde: Wikipedia) </p>
    </a>

    <p>
        <img src="BioInterview/Photos/Franz Beckerlee.jpg" class="rounded" alt="Franz Beckerlee" ; style="max-height:183px;max-width:180px">
    
        <h4> Biografi: Franz Beckerlee </h4>

        <a href="https://youtu.be/PoHwxGFGj3s?si=YPXDYkNNioK5loVw" target="_blank">  Link til interview </a>

    <p> Baggrundsinformation:</p>
    <ul style="margin-bottom: 40px;">
        <li> Født: 15. august 1942 (82 år) København, Danmark </li>
        <li> Beskæftigelse: Saxofonist, billedhugger, skuespiller, komponist, DJ-producer,sangskriver, guitarist </li>
        <li> Medlem af: Christianshavns Bluesband, The Contemporary Jazz Quintet, Gasolin </li>
        <li> Instrumenter: Guitar, saxofon</li>
    </ul>
    <p>Franz Beckerlee spiller guitar og saxofon. Han begyndte at spille saxofon som 12-årig. Sammen med Hugh Steinmetz, Niels Harrit, Steffen Andersen og Bo Thrige Andersen dannede han The Contemporary Jazz Quintet, som spillede avantgardejazz. Kvintetten fik megen ros af kritikere og presse, men fik ingen større succes hos publikum. Franz fik tildelt årets jazzlegat i 1964 og 1968. Derefter kom Franz Beckerlee med i Gasolin', hvor han spiller guitar a la Jimi Hendrix. Efter Gasolin' var Franz Beckerlee med i Christianshavns Bluesband sammen med Søren Berlev og Lone Kellermann. </p>

    <p style="margin-bottom: 150px;"> (Kilde: Wikipedia) </p>

    </p>

    <p>
        <img src="BioInterview/Photos/Wili Jønsson.jpg" class="rounded" alt="Wili Jønsson" ; style="max-height:183px;max-width:180px">

        <h4> Biografi: Wili Jønsson</h4>

    <p> Baggrundsinformation:</p>
    <ul style="margin-bottom: 40px;">
        <li> Født: 27. marts 1942 (82 år) København, Danmark</li>
        <li> Beskæftigelse: Skuespiller, komponist, bassist, sangskriver</li>
        <li> Medlem af: Frede Fup, TYG, Sort Sol med flere</li>
        <li> Instrumenter: Vokal, basguitar, keyboard, guitar</li>
    </ul>

   <p> Wili Jønsson er dansk bassist, keyboardspiller og korsanger, der især er kendt for tiden som bassist med Gasolin', hvor han af især Kim Larsen blev kaldt "den skeløjede halvsvensker". Han har også spillet i mange andre konstellationer, blandt andet med Sort Sol (band), Sanne Salomonsen og med Peter Belli. Modtog i 2008 Ken Gudman Prisen for sin fem årtier lange musiske karriere. I 2009 deltog Wili Jønsson i TV2 programmet Allstars, som en del af kollegaen – tidligere forsanger fra Sort Sol – Steen Jørgensens kor.

    <p style="margin-bottom: 150px;">(Kilde: Wikipedia)</p>
    </p>

    <p>
        <img src="BioInterview/Photos/Søren Charlie Berlev.jpg" class="rounded" alt="Søren Charlie Berlev" ; style="max-height:183px;max-width:180px">

        <h4> Biografi: Søren Charlie Berlev</h4>

        <a href="https://youtu.be/1YZoN1-T-8c?si=2wBT2XFmfwkQwGEK" target="_blank">  Link til interview </a>

    <p> Baggrundsinformation:</p>
    <ul style="margin-bottom: 40px;">
        <li> Født: 4. maj 1950 (74 år) København, Danmark</li>
        <li> Beskæftigelse: Skuespiller, komponist, trommeslager, sangskriver</li>
        <li> Medlem af: Gasolin</li>
        <li> Associeret med: Dig og mig og solskin, The Lollipops, Midnight Blues</li>
    </ul>
    <p>
    Søren "Charlie" Berlev er en dansk musiker, der blev kendt som trommeslager i Gasolin'. Før Gasolin medlem af Dig og mig og solskin fra 1967-1969. Siden har han blandt andet være medlem af bandet Midnight Blues.
    Søren Berlev er søn af cand.mag. Finn Berlev (fra 1961 lektor i fysik og matematik på Jonstrup Statsseminarium) og hustru Kirsten Marie Bahnson. Søren Berlev er ikke døbt.
    Som 19-årig rejste Søren hjemmefra og ind til slumstormermiljøet på Nørrebro i København. Han blaffede i 1970 til Thylejren, hvor han for første gang hørte Gasolin'.
    Efter Gasolin's opløsning i 1978 flyttede Søren Berlev til USA og boede der til 1984, hvor han i perioden indgik i forskellige bands, blandt andet rock/reggae-trioen Wild Remain der udsendte en enkelt single på CBS i 1980, og også turnerede i Danmark.
    </p>
    <p>
       I 1989 var han en del af den gendannede gruppe The Lollipops, der nåede at udsende et enkelt album inden de gik fra hinanden igen.
    Fra 1987 til 1992 spillede han desuden i Christianshavns Bluesband med blandt andre Franz Beckerlee, Lone Kellermann, Sten Haxø, Peter Mandorf m.fl. Bandet var flittig turnerende og fejrede store triumfer på landets livescener, hvor de blandt andet spillede på både Midtfyns Festival og Skanderborg Festival og desuden også turnerede på Færøerne.
    I 1997-98 spillede Berlev i bandet Superhead, til hvilket han også bidrog som sangskriver.
    </p>
    <p>Han blev i år 2000 trommeslager i syretrioen Dream City med guitaristen TømrerClaus og bassisten og sangeren Peter Ingemann.
    I 2007 påbegyndte Søren Berlev arbejdet med en soloplade, med planlagt udgivelse i foråret 2008, på Sony Music. Resultatet forelå i marts 2008 med cd'en Timeless Choice.
    Søren Berlev blev senere trommeslager i det gendannede Young Flowers med Peer Frost og Peter Ingemann. Han dannede i 10'erne også bandet Berlev's Rock 'N' Roll Hotel, der udsendte pladerne You Can Make It (2018) og Close To The Line (2019).
    </p>

    <p style="margin-bottom: 150px;">(Kilde: Wikipedia)</p>
    </p>

    <p>
        <img src="BioInterview/Photos/Bjørn Uglebjerg.jpg" class="rounded" alt="Bjørn Uglebjerg" ; style="max-height:183px;max-width:180px">

        <h4> Biografi: Bjørn Uglebjerg</h4>

    <p>Baggrundsinformation:</p>

    <ul style="margin-bottom: 40px;">
        <li> Født: Bjørn Uglebjerg 21. marts 1948 København, Danmark</li>
        <li> Død: 21. juni 1994 (46 år)</li>
        <li> Beskæftigelse: Trommeslager</li>
        <li> Medlem af: Frede Fup, Les Rivals, Skousen & Ingemann</li>
        <li> Instrumenter: Trommer</li>
    </ul>

    <p>
    Bjørn Uglebjerg var en dansk trommeslager.
    Som 15-årig i 1963 dannede Bjørn Uglebjerg sammen med Peer Frost gruppen The Foottappers som senere blev til Les Rivals. Uglebjerg var første trommeslager i Gasolin'. I 1971 blev han udskiftet med Søren Berlev, og medvirkede senere som trommeslager og percussionist på Skousen & Ingemanns Herfra hvor vi står (1971) og Lone Kellermann og Rockbandets Før Natten Bli'r til dag (1978) og Tilfældigt Forbi (1979). Desuden var Uglebjerg fast medlem af Frede Norbrinks gruppe Frede Fup.
    Uglebjerg var en flittigt benyttet studiemusiker og trommeslager i diverse konstellationer. Han var meget aktiv musikpolitisk herhjemme, og var en vellidt person i musiske kredse.</p>
    <p>
    Han dannede privat par med Susanne Mertz, som var en af grundene til han forlod Gasolin' i 1971. Han valgte at tilbringe tiden med hende, frem for de store tiltagende diskussioner
    som prægede bandet dengang. Susanne Mertz, datter af kunstmaler Albert Mertz, var og er stadigvæk fotograf, hvorfor mange af Bjørns koncerter er foreviget af Susanne Mertz.
    Frem mod sin død spillede han flittigt i bandet "All Stars", som var et band der blev dannet som husorkester til en programrække i tv. I "All Stars" var der også så prominente musikere som Billy Cross, Flemming Ostermann og Jens Rugsted. Tv-udsendelserne gav efterfølgende bandet en masse livejobs.
    Bjørn Uglebjerg bosatte sig de sidste år af sit liv i Svendborg, og var også her meget aktiv i musikforeningslivet.
    </p>
    <p> Bjørn Uglebjerg medvirkede bl.a. også i filmene: </p>
    <ul style="margin-bottom: 40px;">
        <li> Johnny Larsen (1979)</li>
        <li> Rocking Silver (1983)</li>
        <li> Clausens Garage (1983 – tv-serie af Erik Clausen)</li>
    </ul>

    <p style="margin-bottom: 150px;">(Kilde: Wikipedia)</p>
    </p>

</div>
