@page
@model Biografier
@{
    ViewData["Title"] = "Biografier";
}

<html>
<head></head>
<body> 
<h1>Gasolin Biografi</h1>
<p>Gasolin var et dansk rockband dannet i 1969, bestående af Kim Larsen, Franz Beckerlee, Wili Jønsson og Søren Berlev...</p>

<!-- Knappen til at gå tilbage til forsiden -->
<a asp-page="/Index" class="btn btn-primary">Tilbage til forsiden</a>
</body>

</html>